html {
    background-color: black;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}

button {
    font-family: 'Roboto';
    font-size: 24px;
    color: #000000;
    background: #ffffff;
    display: inline-flex;
    padding: 15px;
    margin-top: 30px;
    margin-right: 40%;
    margin-left: 42%;
    border: none;
    border-radius: 5px;
    
}

button:hover {
    color: #ffffff;
    background: #000000;
    cursor: pointer;
}


footer {
    z-index: +10;
    color: #ffffff;
    position:fixed;
  left:0px;
  bottom:0px;
  height:20px;
  width:100%;
  

}
